body {
  padding: 0;
  margin: 0;
}

  
.j4img_editor {
    position: relative;
    margin-left: 100px;
    margin-top: 10px;
    width: 520px;
    height: 520px;
    overflow: hidden;
    transition: all .5s ease;
}

.j4img_editor .j4img_edit_button {
  position: absolute;
  z-index: 5;
  bottom: 0;
  color: #aaa;
  font-weight: 100;
  font-family: 'Helvetica Neue';
  display: block;
  width: 100%;
  text-align: center;
  cursor: pointer;
  background: rgba(0,0,0,.3);
  transition: bottom 1s ease;
}

.j4img_editor .j4img_edit_button {
  background: rgba(0,0,0,.8);
}

.j4img_editor.on .j4img_edit_button {
  bottom: -20px;
}

.j4img_editor.on {
  background: #666;
  height: 570px;
}

.j4img_bla {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .8);
  z-index: 1;
  opacity: 0;
}

.j4img_editor.on .j4img_bla {
  opacity: 1;
}

img {
  border: none;
}

.j4img_container {
  /* pointer-events: none; */
    -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 520px;
  height: 520px;
  overflow: hidden;
  box-shadow: 0 0 5px 0 #000;
  transition: all .5s ease;
  z-index: 4;
}

.j4img_editor.on .j4img_container {
  transform: scale(.8);
}

.j4img_container img {
  pointer-events: none;
    -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 800px;
  height: 600px;
}



.j4img_prev__container {
  transform: scale(.8);
  position: absolute;
  top: 0px;
  left: 0px;
  width: 520px;
  height: 520px;
  z-index: 1;
}

.j4img_prev
{
  pointer-events: none;
   -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 800px;
  height: 600px;
  transition: opacity .3s ease;
}

.j4img_prev.hidden {
  opacity: 0;
}

.j4img_left {
    position: absolute;
    right: 0;
    width: 5px;
    bottom: 0;
    top: 0;
    background: rgba(0, 0, 0, .3);
    cursor: col-resize;
  display: none;
}

.j4img_bottom {
  position: absolute;
  bottom: 0;
  left: 0px;
  height: 5px;
  right: 0;
  background: rgba(0, 0, 0, .3);
  cursor: row-resize;
  display: none;
}

.j4img_apply_button {
  color: #666;
  position: absolute;
  bottom: 10px;
  display: block;
  text-align: center;
  width: 100%;
  z-index: 3;
  text-decoration: none;
  font-size: 48px;
  font-family: 'Helvetica Neue';
  font-weight: 100;
  transition: color .4s;
  cursor: pointer;
}

.j4img_apply_button:hover {
  color: #fff;
}
.j4img_dropzone {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #fff;
  z-index: 6;
  font-size: 18px;
  border: 1px solid #eee;
  color: #888;
  transition: opacity .5s ease;
}

.j4img_dropzone:hover {
  color: #333;
  cursor: pointer;
}

.j4img_dropzone p{
  margin-top: 50%;
  display: block;
  text-align: center;
  transform: translateY(-50%);
  pointer-events: none;
}

.j4img_file_upload {
  /* сука тупая */
  /* opacity: 0; */
  display: none;
}